# ------------------- PNPM specifics ----------------- #

# If this is enabled, commands will fail if there is a missing or invalid peer dependency in the tree.
# https://pnpm.io/next/npmrc#strict-peer-dependencies

strict-peer-dependencies=false

# When true, any missing non-optional peer dependencies are automatically installed.
# https://pnpm.io/npmrc#auto-install-peers

auto-install-peers=false

# Default in v8
# When enabled, dependencies of the root workspace project are used to resolve peer dependencies
# of any projects in the workspace. It is a useful feature as you can install your peer dependencies
# only in the root of the workspace, and you can be sure that all projects in the workspace
# use the same versions of the peer dependencies.
# https://pnpm.io/npmrc#resolve-peers-from-workspace-root

resolve-peers-from-workspace-root=true

# Helps locating duplicates
# https://pnpm.io/next/npmrc#use-lockfile-v6

use-lockfile-v6=true

# Default in v8
# Helps with peer-deps (>=7.29.0)
# https://pnpm.io/npmrc#dedupe-peer-dependents

dedupe-peer-dependents=true
